@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans overflow-x-hidden; /* Prevent horizontal scroll, allow vertical on mobile */
  }
}
